<div class="main_container">
    <h1>Keep Note</h1>

    <div>
    <button mat-icon-button> <a id="home" routerLink="../home"><mat-icon class="icon">home</mat-icon></a> </button>       
    <button mat-icon-button> <mat-icon class="icon mb-3">list</mat-icon></button>
    <button mat-icon-button> <mat-icon class="icon mb-3">settings</mat-icon></button>
    <button mat-icon-button> <a id="manage_accounts" routerLink="../register"> <mat-icon class="icon">person_add</mat-icon></a> </button>   
    </div>        
</div>
