<mat-card class="notes_card">
    <div class="card-header p-0">
        <div class="d-flex ">
            <button *ngIf="note?.priority==='Critical'" color="warn" mat-icon-button>
                <mat-icon>gpp_maybe</mat-icon>
            </button>
            <button *ngIf="note?.priority==='Low'" color="primary" mat-icon-button>
                <mat-icon>arrow_circle_down</mat-icon>
            </button>
            <button *ngIf="note?.priority==='High'" color="warn" mat-icon-button>
                <mat-icon>arrow_circle_up</mat-icon>
            </button>
            <button *ngIf="note?.priority==='Medium'" color="primary" mat-icon-button>
                <mat-icon>remove_circle_outline</mat-icon>
            </button>
    
            <h5>{{note?.title}}</h5>
        </div>        
        <span class="ms-2">{{note?.reminderDate}}</span>
    </div>
    
    <div class="cards">
    <div class="card-body cards" > 
     <p class="card-text">{{note?.content}}</p>
     <span class="category">{{note?.category}}</span>
    </div>
    
    <!-- <div class="foot" > -->
        <mat-card-actions class="icons">
            <button mat-icon-button color="primary"><mat-icon>comment</mat-icon></button>
            <button routerLink="../note-edit/{{note?.id}}" mat-icon-button color="primary"><mat-icon>edit</mat-icon></button>
            <button routerLink="../note-delete/{{note?.id}}" mat-icon-button color="primary"><mat-icon>delete</mat-icon></button>
            <button mat-icon-button color="warn"><mat-icon>notifications</mat-icon></button>
         </mat-card-actions>
</div>
</mat-card>
    